:root {
  --bg: #2c2c34;
  --bg-light: #494850;
  --text: #D8D8F6;
  --pink: #B18FCF;
  --med-color: #978897;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg);
  min-height: 100vh;
}

.title h1 {
  font-family: 'Lobster', cursive;
  color: var(--text);
  margin-bottom: 32px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn sup {
  margin-right: 5px;
}

.btn {
  display: flex;

  background-color: var(--med-color);
  color: white;
  padding: 8px 24px;
  margin: 8px;
  border-radius: 8px;
  transition: background .3s linear;
}

.btn:hover {
  background-color: var(--pink);
}

.btn-locked {
  opacity: .5;
  position: relative;
  cursor: not-allowed;
}

.btn-locked::before {
  content: "\f023";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
